
*.class

# Package Files #
*.jar
*.war
*.ear


testeJDBC/.classpath

testeJDBC/.project

testeJDBC/.settings/org.eclipse.jdt.core.prefs

target/classes/LS.sql
src/main/java/ls/jdbc/config.txt
target/classes/ls/jdbc/config.txt
.metadata/

